[submodule "llvm-SFI"]
	path = llvm-SFI
	url = git@github.com:mars-research/llvm-SFI.git
[submodule "user-trampoline-arm64"]
	path = user-trampoline-arm64
	url = https://github.com/mars-research/user-trampoline-arm64.git
[submodule "user-trampoline"]
	path = user-trampoline
	url = https://github.com/mars-research/user-trampoline.git
[submodule "dome"]
	path = dome
	url = https://github.com/mars-research/dome.git
[submodule "morello-mars"]
	path = morello-mars
	url = https://github.com/mars-research/morello-mars.git
