output_format=text
ignore_errors = 1
teeout = 0
tune = base
ext = linux_aarch64
basepeak = 1
use_submit_for_speed = 1
submit = taskset -c 8 $command
makeflags = -j16

default=default=default=default:
LLVM = $(PWD)/../../clang_install_dir/arm_mte
CC = $(LLVM)/bin/clang -fuse-ld=$(LLVM)/bin/ld.lld  -Wl,-dynamic-linker,/nix/store/r0aclnvj3xz61pqvdbd4l57z714ybywa-glibc-2.35-224/lib/ld-linux-aarch64.so.1
CXX = $(LLVM)/bin/clang++ -std=c++11 -fuse-ld=$(LLVM)/bin/ld.lld -Wl,-dynamic-linker,/nix/store/r0aclnvj3xz61pqvdbd4l57z714ybywa-glibc-2.35-224/lib/ld-linux-aarch64.so.1

# CC = clang
# CXX = clang++
# FC = gfortran

#####################################################################
# Optimization
#####################################################################
## Base is low opt
default=base=default=default:
COPTIMIZE     = -O2 -Wno-int-conversion -Wno-reserved-user-defined-literal
CXXOPTIMIZE  = -O2 -Wno-int-conversion -Wno-reserved-user-defined-literal
FOPTIMIZE    = -O2

notes0100= C base flags: $[COPTIMIZE]
notes0110= C++ base flags: $[CXXOPTIMIZE]
notes0120= Fortran base flags: $[FOPTIMIZE]

#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
notes25= PORTABILITY=-DSPEC_CPU_LP64 is applied to all benchmarks in base.
PORTABILITY = -DSPEC_CPU_LP64


#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
notes25= PORTABILITY=-DSPEC_CPU_LP64 is applied to all benchmarks in base.
PORTABILITY = -DSPEC_CPU_LP64


#####################################################################
# Portability Flags - INT
#####################################################################

400.perlbench=default=default=default:
notes35    = 400.perlbench: -DSPEC_CPU_LINUX_X64
CPORTABILITY= -DSPEC_CPU_LINUX_X64

462.libquantum=default=default=default:
notes60= 462.libquantum: -DSPEC_CPU_LINUX
CPORTABILITY= -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY= -DSPEC_CPU_LINUX


#####################################################################
# Portability Flags - FP
#####################################################################
481.wrf=default=default=default:
wrf_data_header_size = 8
CPORTABILITY = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX
#####################################################################

__MD5__
403.gcc=base=linux_aarch64=default:
# Last updated Fri Jan  5 03:06:48 2024
optmd5=14a917e6e367beb7f8cbefb13c878b98
baggage=
compile_options=\
@eNq9kUFPwyAUx+/9FC/c6cEYD8u2pKV1Q2khjsbopZkdmhoGpnT7/FKaui3Giya+C7zH48///SC8\
EDNo9Na8AW4AW7AffWuNiy3gbCNyUhNR+W2Z5Wm1AkxjAMD8CvCjsbg1PW6sOarO+UtjrVNOdUe1\
wwe/4p16bY1PdNurbqthjJN0zcTNNUwxd/bQNWoZkRkQskDBGAoZT++4kAt04RJF3r1XuWXJauPP\
vjsOHWleknU9NdEYRXxQFJIW9Dn3pV/PE+QFf5BJShmVT+cewmgoYrS8nxD/Dd0P1Ob25V01vVsO\
8no/lU+UBn4s+6L5j7P7h4tErmtG04G83qPRC6+Gnzz7xk/t4cHp
exemd5=fdc2414f5112042c9f853e4b97a7e5c4

453.povray=base=linux_aarch64=default:
# Last updated Fri Jan  5 08:50:20 2024
optmd5=c87a7a5afc5ab58b152bbd92e99aeac7
baggage=
compile_options=\
@eNrlU1tPwjAUfudXNHvFswpOTIyYyEAzHW5RiJeXpWsrVrtW2zHBX28HRjD6oia+cJ56Oec7l+87\
YTJM9xG+1wXHM0HUhGk1wVJWRSaULYmUGRMGE1NkRclxLhSm0rk1mwhsybq02Wy1ENxNLQfJuj8C\
ksyXkiG4klvA5ooUgoIU6pGbLazEDNtSG47NNqFSVQ87s9dO6+m5YjkL5O7e614rmOfzFwITKXIK\
bX9nF9rtALubQ66BpjMgxND7TuBb7bsqKQKN9FMptLK+RtC/TAdhFqZjdzzvD3rjE+QMkrarSWkQ\
qgSqVcWNdRHLN8MtNxVn4Bo2wPidULxOVnJDZB38gZnFaSdASzuwemooP2yE+yi8vu56GzFw773d\
pHeapKOu92n+XsPpzo3pOD46uXR/X7nwGskyPB1Fw+h24Jx+zcwiW5pcjI56URyNbtYTLojyGnF0\
frYpm/A3kX+vcXSg8wdOS3uIVrbiu9ZC3N8Y5f+rdBejTcb1iq3t1xsltfMB
exemd5=9d45b3de95a8b8fffc9389fa7ab1eb2a

999.specrand=base=linux_aarch64=default:
# Last updated Sat Jan 13 04:48:20 2024
optmd5=b8721795d6924af74bb45efd1d2851f7
baggage=
compile_options=\
@eNrdU11PwjAUfedXNHvmroITEyMkMtBMJ1sEYvRl6doC1a7Vdkzw19thDBjjg5r4wHnqx/3oPec0\
TK7TE4QXuuB4JYiaM63mWMqqyISyJZEyY8JgYoqsKDnOhcJUujAEs6XlIFn3R7mS+VIyhOBWNoGt\
FSkEBSnUIzdNrMQK21Ibjs0BoVJVD4er107r6bliOQvk0fHrcStY5+sXAnMpcgpt//AI2u0Au50r\
XRdaroAQQxedwLfabyGgCDTST6XQyvoawWCcDsMsTKduORoM+9ML5ABJ271JaRCqBKpVxY11Ge9n\
hltuKs7ATWyA8ZlQvG5WckMkese2bhannQB94NTqpaG81whPUBh2vb1l2ttMmPQvk3TS9T7R7jWc\
xRwz5/HZxdjdfZXAayR1cjqJrqP7oQv5tRybXmlyMznrR3E0udttt1HGa8TR6GqfLf83N39j5FOd\
P3Ba2h7aYqtwrX082Gt3/6NBN2Qm0/ob7fyhN0q85Kw=
exemd5=8501a7c5544347d6f147d7302f8b663a

482.sphinx3=base=linux_aarch64=default:
# Last updated Sat Jan 13 04:50:37 2024
optmd5=c1a16ca2dc5c9dab8b00b7bf42025b99
baggage=
compile_options=\
@eNrdU11P2zAUfe+vsPKMY1pCkRBFatLQekubaKSb4CVybFPMHJvZaWj59TipuoGmPTAkHuon+/re\
cz/OPVE6z84ButcVRxtB1IpptUJSNlUhlK2JlAUTBhFTFVXNUSkUotK5AXi3thxKNnpXrGS+lAwA\
+EMeQbZVpBIUSqF+cnOElNggW2vDkTkmVKrm4WTzPOw//mpYyQJ5evZ81g+25faJwJUUJYUD/+QU\
DgYBci8H3QKtN5AQQ++HgW+13weQAqiBfqyFVtbXAE6uszgqomzprotJHC6nAGL/rX02/h4XUbq4\
wtNitvvGLsW6FhK4A9OBa0BpKFQNqVYNN9bB72yGW24azqAbj4GM3wnF28pqbkgX3QL8TlYk2TAA\
+3Nh9dpQftmLzkEUjbyDpcXrOkzDL2mWj7w3HHk9t49uMlfJeHrt/v7mq/MI40U0K/ZO7yHQ66Vt\
7izHc3wbu+D/ZrMrJEu/5eMQJzi/eV1tR6zXS/Di6yHL62Ni+IcOLnT5wGltL1t4We3Nf3ak3Z5k\
ctD6+MQddcOcj/NZkeCw1ZKsvN1802WrzVfCfAEvhQgR
exemd5=0eb3d58e62dead168d56684a6d17ee83

998.specrand=base=linux_aarch64=default:
# Last updated Sat Jan 13 04:50:45 2024
optmd5=55b2559f8f20dcb7ac64dffcd124fc9d
baggage=
compile_options=\
@eNrdU11PwjAUfedXNHvmroITEyMkMtBMJ1sEYvRl6doC1a7Vdkzw19thDBjjg5r4wHnqx/3oPec0\
TK7TE4QXuuB4JYiaM63mWMqqyISyJZEyY8JgYoqsKDnOhcJUujAEs6XlIFn3R7mS+VIyhOBWNoGt\
FSkEBSnUIzdNrMQK21Ibjs0BoVJVD4er107r6bliOQvk0fHrcStY5+sXAnMpcgpt//AI2u0Au50r\
XRdaroAQQxedwLfabyGgCDTST6XQyvoawWCcDsMsTKduORoM+9ML5ABJ271JaRCqBKpVxY11Ge9n\
hltuKs7ATWyA8ZlQvG5WckMkese2bhannQB94NTqpaG81whPUBh2vb1l2ttMmPQvk3TS9T7R7jWc\
xRwz5/HZxdjdfZXAayR1cjqJrqP7oQv5tRybXmlyMznrR3E0udttt1HGa8TR6GqfLf83N39j5FOd\
P3Ba2h7aYqtwrX082Gt3/6NBN2Qm0/ob7fyhN0q85Kw=
exemd5=8501a7c5544347d6f147d7302f8b663a

401.bzip2=base=linux_aarch64=default:
# Last updated Thu May  9 11:52:46 2024
optmd5=40b7cd47b3249393bb17b9beee0b97cd
baggage=
compile_options=\
@eNrlU89PwjAUvvNXNDv7VpkTEwMmMNBMp1sUYvSydG3Bamm1LQj89XYQg8Z4kcQL79T2td9rvh9J\
fl2cIvykpxwvBFETptUEE0ejGIhxYkyow1T6RimUdUTKkgmDiZmWU8dxJdSmi2A8sxwk6+yEJVko\
JUMI7uUBsKUiU0FBCvXCzQFWYoGt04Zjc0ioVPPno8Wq1Xx9m7OKxfL4ZHXSjJfV8p3ARIqKQhQe\
HUMUxdjvPHQNNFsAIYY+teLQ6rCJgCLQSL86oZUNNYL+XTFIyqQY+eVNf9AbXSBfkEf+T0qDUA6o\
VnNurH+xOTPccjPnDDwDBhgfC8XrYY4bItGmtrhlVrRi9Fltq2eG8rNGcoqSpBPsrRLBmoG8d5kX\
w07wTZag4S3qmTvPuhd3vvdToqCR14+LYXqdPg78lT/LtZ5V5LfDbi/N0uHD13Fr5YJGlt5c7XNk\
dkvDL0Fo6+qZU2fP0La2Dqi9kfX3Oh3/aPA12fmojuGXDH4A/X0RSw==
exemd5=c1af327cdbdcddf4666f9342b54175c4

429.mcf=base=linux_aarch64=default:
# Last updated Thu May  9 11:52:51 2024
optmd5=9799b8dd0a61e3f957521a2479e416e5
baggage=
compile_options=\
@eNrlU8FO4zAQvfcrrJxxvA2hSIgiNU4Xsps2EU2F2Ivl2G4x69is45aWr1+nFQsL2ssicemc7JnR\
m9F783AxKc8AujONQBtJ9ZIbvUTUsSiG1Dq5oMwhpnyBSN06qhTh0iJqG9I4gWqp91UAF6tWQMWH\
H8JSPFSKAwBv1BHkW00byaCS+qewR0jLDWqdsQLZL5Qpvb4/3jwN+g+/1rzmsTo5fTrtx9t6+0jh\
UsmawSg8PoFRFCP/89Ad0GoDKbXsbhCHrQn7ADIADTAPThrdhgbAdFaOMcHl3D+n6TiZX/pt0pvR\
tCKzKsWkvC6qwqeKyC+pDZTaQWb0WtjWQ+xzVrTCrgWHnhILuVhILbrpTliqwD5eBpG8HMTgOc5b\
s7JMXPTwGcB4GBysNMGOgSL5VpTVMPhLp6Dnb9Yz9zUfXc587b1mu45kPMVXBP/peiNi0Cu6AWWV\
TbIfY9/w35LuppXFdTVKsjyrbl+vtFM36OXZ9Psh++xjjvmHWc5NfS+Yay86eNU8p18OpTuhPD1o\
E33ijXuyJ6PqiuRZ0vlNNcGe/2LeGfiVe38DByUmLA==
exemd5=9eca8ddcfd5dd9edac05656b583e4461

433.milc=base=linux_aarch64=default:
# Last updated Thu May  9 11:52:59 2024
optmd5=36bfd89b0f0626318def01c2ee903df6
baggage=
compile_options=\
@eNrlU11vmzAUfc+vsHiu8UJpKlVNJb6asBFAgWzaXpCxndSdsTtD0qS/foYoaqdpL620l/jBH/da\
x9fn3BNki/wGoAfVMLTnWG6okhuEO+K4EOuOrzHpEBEmUXHZdliIinKNsG6qpmOo5vKYBXC9bRkU\
dPohLEFtISgA8Ju4gPQgccMJFFz+ZPoCSb5Hbac0Q/oTJkLuHi/3L5Px068drakrrq5frsfuoT48\
Y7gRvCbQsS+voOO4yJwMdA+03UOMNXmYuHar7DGABEAF1FPHlWxtBWBY5FFQBfnKbNMw8lczAGPb\
HO7TfvKK0ixBls6WXliVi7z6GgVltixMNCwSr5gPwSROvxTA/CNzzF+kglx2kCi5Y7o1Lx1jmrVM\
7xiFhjkNKVtzyfoiO6axAMfxWk+V5BMXnMZtq7aasLtRcAOCYGqdrYLWwEDmf87ycmr9Iac1Mq1t\
mLtPvFlhcn9LO9zwozSYV6dL79TaGmV9GXkZL+IfkcF5t/BDTXm2LD0/TuLy+9vChx6wRv2L52za\
j/nqH5a6VfUjI11718OL5hR+bae+0ZLwrK32H3vckL3wyrlxl9/bUjTWkf9s1dv8jcd/AzJgOms=
exemd5=00b8059b001c01615656091933fa5a31

444.namd=base=linux_aarch64=default:
# Last updated Thu May  9 11:53:12 2024
optmd5=99e7c3f3364d6fc268dbdb355bde291a
baggage=
compile_options=\
@eNrtU1Fv2jAQfudXWHmlF5c0pRICpBJYlS1togFqt5fIsQ11Z+zONgz49XNItbbqnoa0J+7J9vm+\
O933fUl+W/QQftQrjreCqCXTaomJo1EMxDixINRhKn2iFMo6ImXJhMHErMqV47gSqsm22wisYwPa\
bnc6CBZry0GywVHAkoVSMgT38gzYTpGVoCCF+sHNGVZii63ThmNzTqhUm6eL7b7bef65YRWL5eXV\
/qoT76rdLwJLKSoKUXhxCVEUY3/zyDXQeguEGPrYjUOrQz81RaCRfnZCKxtqBONpMUnKpJj74914\
MprfIB+QR34mpUEoB1SrDTfWVzRvhltuNpyBX4ABxhdC8bqZ44bIuvgPZpkV3Rg10bd6bSgftpIe\
Sh4eBsGJEE9I8LKOfPQ5L2aD4B0/Qcvr1q/xU3Z9M/W5j1wFrbwpL2bpbfp94j/9M3OHbkX+dXY9\
SrN09u1twwORQStL776cnNQ46TiT/N0jqK+rJ06dHaLXeNVDrZVsfHLOi3P+q/QPq8/ntUXf+PM3\
0ZIfoA==
exemd5=09723e1203e87f2ce35210d80f669c62

445.gobmk=base=linux_aarch64=default:
# Last updated Thu May  9 11:53:25 2024
optmd5=62e6f6c71b4d77f00affa7b0d1caf98b
baggage=
compile_options=\
@eNrlU11v2yAUfc+vQH4upnHdVKqaSrHjJt6c2GqdTtuLhYGkdBg6TLKkv34Qq1+q+rBV2kuQQBcu\
OlzOuSfOZ8U5QHeqYWjLsVxRJVcIGxKEEGvDl5gYRIRNVFy2BgtRUa4R1k3VGIZqLrssgMt1y6Cg\
w09hCeoLQQGA38QRpDuJG06g4PIn00dI8i1qjdIM6WNMhNzcn2wfB/2HXxta01Ccnj2e9cNdvfuN\
4UrwmsDAPzmFQRAiu7PQDmi9hRhrcjcI/Vb5fQAJgAqoB8OVbH0F4PimSOIqLhY2nI+TaDGxwXR0\
m1RxPr9KJ9UUwNR3s1sQl0SsKXOb59h+IA/sJ6SCXBpIlNww3donujPNWqY3jEJLmYaULblkrjrD\
NBagGy+FVFkxCMHTuGjVWhN22YvPQRwPvYOVztszkEdf8qIcem909Hq2py1zV9locmNz7zXd34iS\
eTytni/9pcheL3fvF2U6S38kFuCfFd8XU+TX5ShKs7T8/rrivfheL0vnXw/Zpp8z1AdeulD1PSOm\
vXTwonk6fukj12HZ+KA99h973JI9G5XTKksj50fReB3/+cL5+5W5/wAX5TdZ
exemd5=0cddf7884b6dce9f74928747886c5f8b

458.sjeng=base=linux_aarch64=default:
# Last updated Thu May  9 11:53:31 2024
optmd5=3fdf418541bcde1cb37abf1284fdb8ba
baggage=
compile_options=\
@eNrlU89PwjAUvvNXNDv7VpkTEwMmMNBMp1sUYvSydG3Bamm1LQj89XYQg8Z4kcQL79T2td9rvh9J\
fl2cIvykpxwvBFETptUEE0ejGIhxYkyow1T6RimUdUTKkgmDiZmWU8dxJdSmi2A8sxwk6+yEJVko\
JUMI7uUBsKUiU0FBCvXCzQFWYoGt04Zjc0ioVPPno8Wq1Xx9m7OKxfL4ZHXSjJfV8p3ARIqKQhQe\
HUMUxdjvPHQNNFsAIYY+teLQ6rCJgCLQSL86oZUNNYL+XTFIyqQY+eVNf9AbXSBfkEf+T0qDUA6o\
VnNurH+xOTPccjPnDDwDBhgfC8XrYY4bItGmtrhlVrRi9Fltq2eG8rNGcoqSpBPsrRLBmoG8d5kX\
w07wTZag4S3qmTvPuhd3vvdToqCR14+LYXqdPg78lT/LtZ5V5LfDbi/N0uHD13Fr5YJGlt5c7XNk\
dkvDL0Fo6+qZU2fP0La2Dqi9kfX3Oh3/aPA12fmojuGXDH4A/X0RSw==
exemd5=d3c156632bb382ad7dee0d78fbc3ba3e

462.libquantum=base=linux_aarch64=default:
# Last updated Thu May  9 11:53:37 2024
optmd5=07d58ffb8e7053b34284b6384ae563f6
baggage=
compile_options=\
@eNrlk01P4zAQhu/9FVbOTLwNoUiIIrVpYbO0JFpS8XGJHNstBscG2+22/Pp1WhAghITgglRf7PGM\
Z6x550mycX6A8I2uOV4KomZMqxkmjkYxEOPElFCHqfSOUijriJQlEwYTU5e147gSauNFMJ1bDpJ1\
v5VLslBKhhBcyB1gK0VqQUEKdcfNDlZiia3ThmPzi1CpFre7y8dO+/5hwSoWy739x/12vKpW/wjM\
pKgoROHuHkRRjL3lUzeJ5ksgxNCbThxaHbYRUAQa6XsntLKhRjA4z4dJmeQTfzwbDPuTE+QXZJH/\
k9IglAOq1YIb619s7gy33Cw4A98BA4xPheJNMccNkWizXvKWo7wTv7HTs8nlUxg6tHpuKD9qJQco\
SbrB1ioTrDuQ9f9kedEN3sgUtPzI+s4dj3on5973XrKglTWP8yIdp9dDH/Jl+da18uxv0euno7S4\
el1ureTTZz6KaLQNWn473WbKvgfQJ9k51NUtp84eNeVk/UzUy9w0EzUabDVTPwsLr8e4V/z2Zr/h\
WNbBRqJs0iD/ivf/HBU0EA==
exemd5=3b57da7fe734222e653eef694cad9409

464.h264ref=base=linux_aarch64=default:
# Last updated Thu May  9 11:53:50 2024
optmd5=58b3cd73ee5b4b99cf4f1a020358dafd
baggage=
compile_options=\
@eNrlU8FO4zAQvfcrrJyZmIZQJESR2rRA2JREkArBJXJstxgcm7XdbsvXr9MKAUJcQOLSOdkznjfW\
e/OSfFIcI/ygG45Xgqg502qOiaNRDMQ4MSPUYSp9oRLKOiJlxYTBxDRV4ziuhdpWEcwWloNk/R9h\
SRZKyRCCW7kHbK1IIyhIoZ642cNKrLB12nBs9gmVavl4sHrpdZ//LlnNYnl49HLUjdf1+h+BuRQ1\
hSg8OIQoirG/eegWaLECQgx96MWh1WEXAUWgkX52QisbagSjm2KcVEkx9cer0Xg4PUc+II/8n5QG\
oRxQrZbcWN+xzRluuVlyBp4BA4zPhOLtMMcNkWgbb7hVVvRi9BonVi8M5aed5BglST/YWSWCDQP5\
8DIvyn7wQZag41fUM3eWDc5vfO2zREEnb5uLMp2k92P/5NtybWYV+XU5GKZZWt69H7dRLuhk6dWf\
XbbMz9zwhRFOdP3IqbOnLbxsXtNvS9CuRzbaaYP84o57sieD8qLK0mHrONkEW/7zaWvOd878D7qI\
FzI=
exemd5=9d4a07edeeb69ddc67e648f274a80df9

470.lbm=base=linux_aarch64=default:
# Last updated Thu May  9 11:53:55 2024
optmd5=45e7375f9a0c2fcf71468d374faab2c5
baggage=
compile_options=\
@eNrlU8FO4zAQvfcrrJyZmIZQJESR2rRA2JREkArBJXJstxgcm7XdbsvXr9MKAUJcQOLSOdkznjfW\
e/OSfFIcI/ygG45Xgqg502qOiaNRDMQ4MSPUYSp9oRLKOiJlxYTBxDRV4ziuhdpWEcwWloNk/R9h\
SRZKyRCCW7kHbK1IIyhIoZ642cNKrLB12nBs9gmVavl4sHrpdZ//LlnNYnl49HLUjdf1+h+BuRQ1\
hSg8OIQoirG/eegWaLECQgx96MWh1WEXAUWgkX52QisbagSjm2KcVEkx9cer0Xg4PUc+II/8n5QG\
oRxQrZbcWN+xzRluuVlyBp4BA4zPhOLtMMcNkWgbb7hVVvRi9BonVi8M5aed5BglST/YWSWCDQP5\
8DIvyn7wQZag41fUM3eWDc5vfO2zREEnb5uLMp2k92P/5NtybWYV+XU5GKZZWt69H7dRLuhk6dWf\
XbbMz9zwhRFOdP3IqbOnLbxsXtNvS9CuRzbaaYP84o57sieD8qLK0mHrONkEW/7zaWvOd878D7qI\
FzI=
exemd5=dc0312276adf303629c8cb477592c8ae

473.astar=base=linux_aarch64=default:
# Last updated Thu May  9 11:54:01 2024
optmd5=bfabf23d273163dac71ae7f1e5e441fa
baggage=
compile_options=\
@eNrtU8FO4zAQvfcrrFyLYxpCkRBFatMsBNIkglTL7iVybLeYdW2w3dLy9TgNEq3Y0yLtqT7ZM+P3\
RvPmRfmkOAfoUS0YWnMs51TJOcKWBCHE2vIZJhYR4RIVl8ZiISrKNcJ6US0sQzWXbbbbBdBYOiDd\
bq8H4GxpGBR08C1gQX0hKIA/xRGkG4kXnEDB5R+mj5Dka2Ss0gzpY0yEXD2drN/6veeXFa1pKE7P\
3s564abevGI4F7wmMPBPTmEQhMi9HHIDtFxDjDV57Ie+Ub7rmgCogHq2XEnjKwDH90UcVVExddds\
HI+mVzuxKk3KMo2rOBsnwwwAAPPA9SoV5NJCouSKaeOQ2phmhukVo9ANRkPKZlyypgnLNBbN5x3c\
oh+C9lwYtdSEXXaicxA9PAy8g1BOKO9jHPnoJi/Kgbenm9dx++zG+CMdXt273FcNtxWjOIuuqy9F\
+6J6nbwlKspkkvyOXeU/a7xlLfK7cjhKHMmvfVYnuddJk+z24MXWi9+z09/dBC5U/cSINZfg83xu\
TrNV6fjgsQ+P/dfV344+nzZm3nHyOz6uMj0=
exemd5=a0dfd9213c9866f7e9ae80f7e4c82db9

