output_format=text
ignore_errors = 1
teeout = 0
tune = base
ext = linux_aarch64
basepeak = 1
use_submit_for_speed = 1
submit = taskset -c 8 $command
makeflags = -j16

default=default=default=default:
LLVM = $(PWD)/../../clang_install_dir/arm_ldst
CC = $(LLVM)/bin/clang -fuse-ld=$(LLVM)/bin/ld.lld  -Wl,-dynamic-linker,/nix/store/r0aclnvj3xz61pqvdbd4l57z714ybywa-glibc-2.35-224/lib/ld-linux-aarch64.so.1
CXX = $(LLVM)/bin/clang++ -std=c++11 -fuse-ld=$(LLVM)/bin/ld.lld -Wl,-dynamic-linker,/nix/store/r0aclnvj3xz61pqvdbd4l57z714ybywa-glibc-2.35-224/lib/ld-linux-aarch64.so.1

# CC = clang
# CXX = clang++
# FC = gfortran

#####################################################################
# Optimization
#####################################################################
## Base is low opt
default=base=default=default:
COPTIMIZE     = -O2 -Wno-int-conversion -Wno-reserved-user-defined-literal
CXXOPTIMIZE  = -O2 -Wno-int-conversion -Wno-reserved-user-defined-literal
FOPTIMIZE    = -O2

notes0100= C base flags: $[COPTIMIZE]
notes0110= C++ base flags: $[CXXOPTIMIZE]
notes0120= Fortran base flags: $[FOPTIMIZE]

#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
notes25= PORTABILITY=-DSPEC_CPU_LP64 is applied to all benchmarks in base.
PORTABILITY = -DSPEC_CPU_LP64


#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
notes25= PORTABILITY=-DSPEC_CPU_LP64 is applied to all benchmarks in base.
PORTABILITY = -DSPEC_CPU_LP64


#####################################################################
# Portability Flags - INT
#####################################################################

400.perlbench=default=default=default:
notes35    = 400.perlbench: -DSPEC_CPU_LINUX_X64
CPORTABILITY= -DSPEC_CPU_LINUX_X64

462.libquantum=default=default=default:
notes60= 462.libquantum: -DSPEC_CPU_LINUX
CPORTABILITY= -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY= -DSPEC_CPU_LINUX


#####################################################################
# Portability Flags - FP
#####################################################################
481.wrf=default=default=default:
wrf_data_header_size = 8
CPORTABILITY = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX
#####################################################################

__MD5__
403.gcc=base=linux_aarch64=default:
# Last updated Fri Jan  5 03:06:48 2024
optmd5=14a917e6e367beb7f8cbefb13c878b98
baggage=
compile_options=\
@eNq9kUFPwyAUx+/9FC/c6cEYD8u2pKV1Q2khjsbopZkdmhoGpnT7/FKaui3Giya+C7zH48///SC8\
EDNo9Na8AW4AW7AffWuNiy3gbCNyUhNR+W2Z5Wm1AkxjAMD8CvCjsbg1PW6sOarO+UtjrVNOdUe1\
wwe/4p16bY1PdNurbqthjJN0zcTNNUwxd/bQNWoZkRkQskDBGAoZT++4kAt04RJF3r1XuWXJauPP\
vjsOHWleknU9NdEYRXxQFJIW9Dn3pV/PE+QFf5BJShmVT+cewmgoYrS8nxD/Dd0P1Ob25V01vVsO\
8no/lU+UBn4s+6L5j7P7h4tErmtG04G83qPRC6+Gnzz7xk/t4cHp
exemd5=fdc2414f5112042c9f853e4b97a7e5c4

453.povray=base=linux_aarch64=default:
# Last updated Fri Jan  5 08:50:20 2024
optmd5=c87a7a5afc5ab58b152bbd92e99aeac7
baggage=
compile_options=\
@eNrlU1tPwjAUfudXNHvFswpOTIyYyEAzHW5RiJeXpWsrVrtW2zHBX28HRjD6oia+cJ56Oec7l+87\
YTJM9xG+1wXHM0HUhGk1wVJWRSaULYmUGRMGE1NkRclxLhSm0rk1mwhsybq02Wy1ENxNLQfJuj8C\
ksyXkiG4klvA5ooUgoIU6pGbLazEDNtSG47NNqFSVQ87s9dO6+m5YjkL5O7e614rmOfzFwITKXIK\
bX9nF9rtALubQ66BpjMgxND7TuBb7bsqKQKN9FMptLK+RtC/TAdhFqZjdzzvD3rjE+QMkrarSWkQ\
qgSqVcWNdRHLN8MtNxVn4Bo2wPidULxOVnJDZB38gZnFaSdASzuwemooP2yE+yi8vu56GzFw773d\
pHeapKOu92n+XsPpzo3pOD46uXR/X7nwGskyPB1Fw+h24Jx+zcwiW5pcjI56URyNbtYTLojyGnF0\
frYpm/A3kX+vcXSg8wdOS3uIVrbiu9ZC3N8Y5f+rdBejTcb1iq3t1xsltfMB
exemd5=9d45b3de95a8b8fffc9389fa7ab1eb2a

999.specrand=base=linux_aarch64=default:
# Last updated Sat Jan 13 04:48:20 2024
optmd5=b8721795d6924af74bb45efd1d2851f7
baggage=
compile_options=\
@eNrdU11PwjAUfedXNHvmroITEyMkMtBMJ1sEYvRl6doC1a7Vdkzw19thDBjjg5r4wHnqx/3oPec0\
TK7TE4QXuuB4JYiaM63mWMqqyISyJZEyY8JgYoqsKDnOhcJUujAEs6XlIFn3R7mS+VIyhOBWNoGt\
FSkEBSnUIzdNrMQK21Ibjs0BoVJVD4er107r6bliOQvk0fHrcStY5+sXAnMpcgpt//AI2u0Au50r\
XRdaroAQQxedwLfabyGgCDTST6XQyvoawWCcDsMsTKduORoM+9ML5ABJ271JaRCqBKpVxY11Ge9n\
hltuKs7ATWyA8ZlQvG5WckMkese2bhannQB94NTqpaG81whPUBh2vb1l2ttMmPQvk3TS9T7R7jWc\
xRwz5/HZxdjdfZXAayR1cjqJrqP7oQv5tRybXmlyMznrR3E0udttt1HGa8TR6GqfLf83N39j5FOd\
P3Ba2h7aYqtwrX082Gt3/6NBN2Qm0/ob7fyhN0q85Kw=
exemd5=8501a7c5544347d6f147d7302f8b663a

482.sphinx3=base=linux_aarch64=default:
# Last updated Sat Jan 13 04:50:37 2024
optmd5=c1a16ca2dc5c9dab8b00b7bf42025b99
baggage=
compile_options=\
@eNrdU11P2zAUfe+vsPKMY1pCkRBFatLQekubaKSb4CVybFPMHJvZaWj59TipuoGmPTAkHuon+/re\
cz/OPVE6z84ButcVRxtB1IpptUJSNlUhlK2JlAUTBhFTFVXNUSkUotK5AXi3thxKNnpXrGS+lAwA\
+EMeQbZVpBIUSqF+cnOElNggW2vDkTkmVKrm4WTzPOw//mpYyQJ5evZ81g+25faJwJUUJYUD/+QU\
DgYBci8H3QKtN5AQQ++HgW+13weQAqiBfqyFVtbXAE6uszgqomzprotJHC6nAGL/rX02/h4XUbq4\
wtNitvvGLsW6FhK4A9OBa0BpKFQNqVYNN9bB72yGW24azqAbj4GM3wnF28pqbkgX3QL8TlYk2TAA\
+3Nh9dpQftmLzkEUjbyDpcXrOkzDL2mWj7w3HHk9t49uMlfJeHrt/v7mq/MI40U0K/ZO7yHQ66Vt\
7izHc3wbu+D/ZrMrJEu/5eMQJzi/eV1tR6zXS/Di6yHL62Ni+IcOLnT5wGltL1t4We3Nf3ak3Z5k\
ctD6+MQddcOcj/NZkeCw1ZKsvN1802WrzVfCfAEvhQgR
exemd5=0eb3d58e62dead168d56684a6d17ee83

998.specrand=base=linux_aarch64=default:
# Last updated Sat Jan 13 04:50:45 2024
optmd5=55b2559f8f20dcb7ac64dffcd124fc9d
baggage=
compile_options=\
@eNrdU11PwjAUfedXNHvmroITEyMkMtBMJ1sEYvRl6doC1a7Vdkzw19thDBjjg5r4wHnqx/3oPec0\
TK7TE4QXuuB4JYiaM63mWMqqyISyJZEyY8JgYoqsKDnOhcJUujAEs6XlIFn3R7mS+VIyhOBWNoGt\
FSkEBSnUIzdNrMQK21Ibjs0BoVJVD4er107r6bliOQvk0fHrcStY5+sXAnMpcgpt//AI2u0Au50r\
XRdaroAQQxedwLfabyGgCDTST6XQyvoawWCcDsMsTKduORoM+9ML5ABJ271JaRCqBKpVxY11Ge9n\
hltuKs7ATWyA8ZlQvG5WckMkese2bhannQB94NTqpaG81whPUBh2vb1l2ttMmPQvk3TS9T7R7jWc\
xRwz5/HZxdjdfZXAayR1cjqJrqP7oQv5tRybXmlyMznrR3E0udttt1HGa8TR6GqfLf83N39j5FOd\
P3Ba2h7aYqtwrX082Gt3/6NBN2Qm0/ob7fyhN0q85Kw=
exemd5=8501a7c5544347d6f147d7302f8b663a

401.bzip2=base=linux_aarch64=default:
# Last updated Thu May  9 13:53:02 2024
optmd5=414e8e3780349f61c962c8796de4ce86
baggage=
compile_options=\
@eNrlU89PwjAUvvNXNDv7VpkTEwMmMNBMp1sUYvSydG3Bamm1LQj89XYQg8Z4kcQL79T2td9rvh9J\
fl2cIvykpxwvBFETptUEE0ejGIhxYkyow1T6RimUdUTKkgmDiZmWklmHK6E2bQTjmeUgWWc3MMlC\
KRlCcC8PgC0VmQoKUqgXbg6wEgtsnTYcm0NCpZo/Hy1Wrebr25xVLJbHJ6uTZryslu8EJlJUFKLw\
6BiiKMZ+56FroNkCCDH0qRWHVodNBBSBRvrVCa1sqBH074pBUibFyC9v+oPe6AL5gjzyf1IahHJA\
tZpzY/2LzZnhlps5Z+ApMMD4WCheD3PcEIk2tcUts6IVo89qWz0zlJ81klOUJJ1gj7UI1hzkvcu8\
GHaCb8IEDW9Tz9151r24872fIgWNvH5cDNPr9HHgr/xZsPWsIr8ddntplg4fvo5baxc0svTmar9j\
s1sifglDW1fPnDp7hra19UDtjqy/5wn5R5Ov6c5HdRS/5PADkj0U0w==
exemd5=3feff5eb1cdf0658ed0339fbc5642fa0

429.mcf=base=linux_aarch64=default:
# Last updated Thu May  9 13:53:06 2024
optmd5=e742e7968c973df8b73942656dbfd3d5
baggage=
compile_options=\
@eNrlU8FO4zAQvfcrrJxxvA2hSIgiNUkXspvWEU2F2Evk2G4x69is7ZaWr1+nFQsL2ssicemc7JnR\
e6N581I8Kc8AutMtRxtB1JJptUTE0SiGxDixINQhKn2hFso6ImXNhEHEtLVk1qFGqH0ZwMXKcijZ\
8GNgkoVSMgDgjTyCbKtIKyiUQv3k5ggpsUHWacOR+UKoVOv7483ToP/wa80aFsuT06fTfrxtto8E\
LqVoKIzC4xMYRTHyPw/dAa02kBBD7wZxaHXYB5ACqIF+cEIrG2oAs1k5Tuu0nPvnNBsn80s/TXYz\
mlb1rMrSurzGFfYpHPkhlYZCOUi1WnNjPcQ+Z7jlZs0Z9DsxkPGFULxjd9wQCfbxQlQX5SAGz3Fu\
9cpQftFLz0CaDoMDFifY7QAn33BZDYO/lAp6/m797r4Wo8uZr71XbdeRjKfpVZ3+6XojY9DDHUFZ\
5ZP8x9g3/LeoO7YSX1ejJC/y6vb1SDt9g16RT78fttc+5pp/GOZcN/ecOnvRwcv2Of1yKt0RFdmB\
G+kT79yvezKqruoiTzrPyTbYK4DnnYlfOfg3fcsptA==
exemd5=7d8257c834460e3a3932ab0d8fee16ac

433.milc=base=linux_aarch64=default:
# Last updated Thu May  9 13:53:13 2024
optmd5=f5142a9e5f366f78cf2e0b406bb27426
baggage=
compile_options=\
@eNrlU11vmzAUfc+vsHiuYaE0laqmEl9N2AigQDZtL8jYTurO2J1N0qS/foYoaqdpL620l/jBH/da\
x9f3nBPmi+IGOA+ypc6eIbEhUmwc1GHXg0h1bI1w52BuEjUTukOc14QpB6m25kR3TsPEMQ3geqsp\
5GT6MTBObM4JAPAbv4DkIFDLMORM/KTqwhFs7+hOKuqoTwhzsXu83L9Mxk+/dqQhHr+6frkee4fm\
8IzghrMGQ9e+vIKu6znmZKB7oO0eIqTww8SztbTHAGIAJZBPHZNC2xLAqCzisA6LldlmURysZgAm\
tjncZ/3kl5VZwjybLf2orhZF/TUOq3xZmmhUpn45H4Jpkn0pgflH7pq/CAmZ6CCWYkeVNi8dY4pq\
qnaUQNM6BQldM0H7IjuqEAfH8VpPnRYTD5zGrZZbhendKLwBYTi1zphDa+hBHnzOi2pq/UGoNTLy\
Nr27T/1ZaXJ/kzvcCOIsnNenS+9k2xrlfRlFlSySH7HBeTf1Q01Fvqz8IEmT6vvbwgcVWKP+xfM2\
7se89Q9b3crmkeJO3/XwvD2FXwXVSy2Nztxu/1Hnpt0Lv5obhwW9NXlrHRnIV73V3/j8N3QZPfM=
exemd5=eeae28c003f64fb6275859632d1965b3

444.namd=base=linux_aarch64=default:
# Last updated Thu May  9 13:53:26 2024
optmd5=e5429cce860352355d62c66dfb6a311c
baggage=
compile_options=\
@eNrtU8tOwzAQvPcrrFzLxjSEIiGKRNOCAoFE0IrHJXJstxhcG2y3tHw9TstTcAKJU/dke72zq52Z\
JD8tdhG+1ROO54KoMdNqjImjUQzEODEi1GEqfaIUyjoiZcmEwcRMSsmsw5VQq3SzicA61qHNZquF\
YDS1HCTr/A1ZslBKhuBSbgBbKDIRFKRQ99xsYCXm2DptODabhEo1u9uaP7dbD48zVrFYbu8877Ti\
RbV4IjCWoqIQhVvbEEUx9jePXANN50CIobftOLQ69GNTBBrpBye0sqFG0Lso+kmZFEN/POv1u8Mj\
5APyyM+kNAjlgGo148b6itWb4ZabGWfgN2CA8ZFQvG7muCGyLn7HLLOiHaNV7Fk9NZTvN5JdlFxd\
dYI1JUtKgteF5N3jvBh0gi8MBQ2vXb/Iw+zg6MLnvrMVNPJVeTFIT9Obvv/0a+6W3Yr8fHDQTbN0\
cP254ZLKoJGlZydrN7256W9G+dknaE9Xd5w6u48+4kMRtVqy3to97+75V/kvl58Pa5t+8ugL+XIj\
KA==
exemd5=48ed4e3aace27fb09a4c0908f23b75fd

445.gobmk=base=linux_aarch64=default:
# Last updated Thu May  9 13:53:36 2024
optmd5=92b7c206f573614a23da6f542e81d9ed
baggage=
compile_options=\
@eNrlU99v2yAQfs9fgfxcTOO6qVQ1lWLHTbw5sdU6nbYXCwNJ6TB0QLKkf/1wrP5S1Yet0l6CBLrj\
0MfdfffF+aw4B+hONQxtOZYrquQKYUuCEGJt+RITi4hwgYpLY7EQFeUaYd1UghqLai67MIDLtWFQ\
0OHnwAT1haAAwG/iCNKdxA0nUHD5k+kjJPkWGas0Q/oYEyE39yfbx0H/4deG1jQUp2ePZ/1wV+9+\
Y7gSvCYw8E9OYRCEyHkOugVabyHGmtwNQt8ovw8gAVAB9WC5ksZXAI5viiSu4mLhzPk4iRYTZ0xH\
t0kV5/OrdFJNAUz9dncH4pKINWWt82y7AvLAFSEV5NJCouSGaeO+6O40M0xvGIWuZxpStuSStdlZ\
prEA3XpJpMqKQQie1oVRa03YZS8+B3E89A6YPG/fgzz6khfl0HvDpNdzc+16d5WNJjcu9p7V/Yso\
mcfT6vnRX9Ls9fL2/6JMZ+mPxAH8M+f7ZIr8uhxFaZaW319nvKff62Xp/OthS/VzovpATxeqvmfE\
mssWXjRP1y+T1M5YNj5wnf3HOXftno3KaZWlUatJ0XgdA/mi1fgrgf8BN7o64Q==
exemd5=d4ac5cf08f8c81a1324606e59de84390

458.sjeng=base=linux_aarch64=default:
# Last updated Thu May  9 13:53:45 2024
optmd5=bcaa4bce5f113b262ebd89d59b087627
baggage=
compile_options=\
@eNrlU89PwjAUvvNXNDv7VpkTEwMmMNBMp1sUYvSydG3Bamm1LQj89XYQg8Z4kcQL79T2td9rvh9J\
fl2cIvykpxwvBFETptUEE0ejGIhxYkyow1T6RimUdUTKkgmDiZmWklmHK6E2bQTjmeUgWWc3MMlC\
KRlCcC8PgC0VmQoKUqgXbg6wEgtsnTYcm0NCpZo/Hy1Wrebr25xVLJbHJ6uTZryslu8EJlJUFKLw\
6BiiKMZ+56FroNkCCDH0qRWHVodNBBSBRvrVCa1sqBH074pBUibFyC9v+oPe6AL5gjzyf1IahHJA\
tZpzY/2LzZnhlps5Z+ApMMD4WCheD3PcEIk2tcUts6IVo89qWz0zlJ81klOUJJ1gj7UI1hzkvcu8\
GHaCb8IEDW9Tz9151r24872fIgWNvH5cDNPr9HHgr/xZsPWsIr8ddntplg4fvo5baxc0svTmar9j\
s1sifglDW1fPnDp7hra19UDtjqy/5wn5R5Ov6c5HdRS/5PADkj0U0w==
exemd5=74530a1dd62568a77b8a5ceb98358f4c

462.libquantum=base=linux_aarch64=default:
# Last updated Thu May  9 13:53:50 2024
optmd5=a1a19fb706b699e3800253366b75e699
baggage=
compile_options=\
@eNrlk01P4zAQhu/9FVbOTLwNoUiIIrVpYbO0JFpS8XGJHNstBscG2+22/Pp1WhAghITgglRf7PGM\
Z6x550mycX6A8I2uOV4KomZMqxkmjkYxEOPElFCHqfSOUijriJQlEwYTU5eSWYcroTZuBNO55SBZ\
93vJJAulZAjBhdwBtlKkFhSkUHfc7GAlltg6bTg2vwiVanG7u3zstO8fFqxisdzbf9xvx6tq9Y/A\
TIqKQhTu7kEUxdhbPnWTaL4EQgy96cSh1WEbAUWgkb53QisbagSD83yYlEk+8cezwbA/OUF+QRb5\
PykNQjmgWi24sf7F5s5wy82CM/AtMMD4VCjeFHPcEIk26yVvOco78Rs7PZtcPoWhQ6vnhvKjVnKA\
kqQbbLE2wboHWf9Plhfd4I1QQcuPre/d8ah3cu5970ULWlnzOC/ScXo99CFfFnBdK8/+Fr1+OkqL\
q9fl1lo+feajiEbdoOW30+0m7XsQfZKfQ13dcursUVNO1s9UvUxOM1OjwZZz9bPQ8IqMe8Vvb/Yb\
lmUdbETKJg32r5j/DzziN5g=
exemd5=ef0fbfd28991b9341e132ee875c2d370

464.h264ref=base=linux_aarch64=default:
# Last updated Thu May  9 13:54:01 2024
optmd5=8eaab9a5e73de85efc6a7bf3eaeb36f3
baggage=
compile_options=\
@eNrlU8FO4zAQvfcrrJyZmIZQJESR2rRA2JREkArBJXJstxgcm7XdbsvXr9MKAUJcQOLSOdkznjfW\
vPeSfFIcI/ygG45Xgqg502qOiaNRDMQ4MSPUYSp9oRLKOiJlxYTBxDSVZNbhWqhtGcFsYTlI1v8Z\
mGShlAwhuJV7wNaKNIKCFOqJmz2sxApbpw3HZp9QqZaPB6uXXvf575LVLJaHRy9H3Xhdr/8RmEtR\
U4jCg0OIohj7m4dugRYrIMTQh14cWh12EVAEGulnJ7SyoUYwuinGSZUUU3+8Go2H03PkA/LI/0lp\
EMoB1WrJjfUd25zhlpslZ+BXYIDxmVC8Hea4IRJt4w23yopejF7jxOqFofy0kxyjJOkHO8xFsNlB\
PrzMi7IffCAm6HiZ+t2dZYPzG1/7TFLQydvmokwn6f3YP/k2YZtZRX5dDoZplpZ378dtuAs6WXr1\
Z7dt8zNHfGGGE10/cursaQsvm9f0mwxagWSjHTfJL+rcr3syKC+qLB22rpNNsGUgn7YGfefO/5xe\
Gro=
exemd5=74b600493f1d148e2cbd7755897beb27

470.lbm=base=linux_aarch64=default:
# Last updated Thu May  9 13:54:06 2024
optmd5=258d1e7bab21f9d41ee431461f24a538
baggage=
compile_options=\
@eNrlU8FO4zAQvfcrrJyZmIZQJESR2rRA2JREkArBJXJstxgcm7XdbsvXr9MKAUJcQOLSOdkznjfW\
vPeSfFIcI/ygG45Xgqg502qOiaNRDMQ4MSPUYSp9oRLKOiJlxYTBxDSVZNbhWqhtGcFsYTlI1v8Z\
mGShlAwhuJV7wNaKNIKCFOqJmz2sxApbpw3HZp9QqZaPB6uXXvf575LVLJaHRy9H3Xhdr/8RmEtR\
U4jCg0OIohj7m4dugRYrIMTQh14cWh12EVAEGulnJ7SyoUYwuinGSZUUU3+8Go2H03PkA/LI/0lp\
EMoB1WrJjfUd25zhlpslZ+BXYIDxmVC8Hea4IRJt4w23yopejF7jxOqFofy0kxyjJOkHO8xFsNlB\
PrzMi7IffCAm6HiZ+t2dZYPzG1/7TFLQydvmokwn6f3YP/k2YZtZRX5dDoZplpZ378dtuAs6WXr1\
Z7dt8zNHfGGGE10/cursaQsvm9f0mwxagWSjHTfJL+rcr3syKC+qLB22rpNNsGUgn7YGfefO/5xe\
Gro=
exemd5=84849d04badae9c8559a907a948fb9f7

473.astar=base=linux_aarch64=default:
# Last updated Thu May  9 13:54:12 2024
optmd5=265f1b333f39da29df1c920cd2c9105a
baggage=
compile_options=\
@eNrtU1Fv2jAQfudXWHmlh0eaUqkqlSBkXbY0idagdXuJHNtQd8bubEOhv34ObCuoe1qlPeEn++78\
faf77ouLm/IC4Xu94HgtiJozreaYOBpGQIwTM0IdptInaqGsI1LWTBhMzKKWzDrcCLVLd7sIrGND\
2u32+whmS8tBsuHbkCXrSckQfJEnwDaKLAQFKdR3bk6wEmtsnTYcm3eESrV6OF0/D/qPP1asYZE8\
O38+70ebZvNEYC5FQyHsnZ5BGEbYvzxyC7RcAyGG3g+intU93zZFoJF+dEIr29MIJrdlEtdxOfXX\
fJKMp9d7sTpLqypL6iSfpKMcIQRF6HtVGoRyQLVacWM90i5muOVmxRn4yRhgfCYUb5tw3BDZft7D\
LQcR2p1Lq5eG8qtOfIHiu7thcJRqK1XwayDF+GNRVsPgQLmg43faD/J9Nrq+9bnXKm4rxkkef6hf\
FR3KGnSKHVFZpTfpt8RX/rPKW9ay+FyNxqkn+XrI6kUPOlmafzr68bcf32apvzsKXermgVNnr9DL\
edmddq+yydFnf3z2X9d/O/xi2hp6z80/AR6lNcU=
exemd5=1df65168aa05e396c487eb2c3e30e118

