output_format=text
ignore_errors = 1
teeout = 0
tune = base
ext = linux_aarch64
basepeak = 1
use_submit_for_speed = 1
submit = taskset -c 8 $command
makeflags = -j4

default=default=default=default:
LLVM = $(PWD)/../../clang_install_dir/arm_1reg
CC = $(LLVM)/bin/clang -fuse-ld=$(LLVM)/bin/ld.lld  -Wl,-dynamic-linker,/nix/store/r0aclnvj3xz61pqvdbd4l57z714ybywa-glibc-2.35-224/lib/ld-linux-aarch64.so.1
CXX = $(LLVM)/bin/clang++ -std=c++11 -fuse-ld=$(LLVM)/bin/ld.lld -Wl,-dynamic-linker,/nix/store/r0aclnvj3xz61pqvdbd4l57z714ybywa-glibc-2.35-224/lib/ld-linux-aarch64.so.1

# CC = clang
# CXX = clang++
# FC = gfortran

#####################################################################
# Optimization
#####################################################################
## Base is low opt
default=base=default=default:
COPTIMIZE     = -O2 -Wno-int-conversion -Wno-reserved-user-defined-literal
CXXOPTIMIZE  = -O2 -Wno-int-conversion -Wno-reserved-user-defined-literal
FOPTIMIZE    = -O2

notes0100= C base flags: $[COPTIMIZE]
notes0110= C++ base flags: $[CXXOPTIMIZE]
notes0120= Fortran base flags: $[FOPTIMIZE]

#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
notes25= PORTABILITY=-DSPEC_CPU_LP64 is applied to all benchmarks in base.
PORTABILITY = -DSPEC_CPU_LP64


#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
notes25= PORTABILITY=-DSPEC_CPU_LP64 is applied to all benchmarks in base.
PORTABILITY = -DSPEC_CPU_LP64


#####################################################################
# Portability Flags - INT
#####################################################################

400.perlbench=default=default=default:
notes35    = 400.perlbench: -DSPEC_CPU_LINUX_X64
CPORTABILITY= -DSPEC_CPU_LINUX_X64

462.libquantum=default=default=default:
notes60= 462.libquantum: -DSPEC_CPU_LINUX
CPORTABILITY= -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY= -DSPEC_CPU_LINUX


#####################################################################
# Portability Flags - FP
#####################################################################
481.wrf=default=default=default:
wrf_data_header_size = 8
CPORTABILITY = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX
#####################################################################

__MD5__
453.povray=base=linux_aarch64=default:
# Last updated Fri Jan  5 10:08:14 2024
optmd5=c479bad42285dd2cd3e2aac9bc745111
baggage=
compile_options=\
@eNrlU1tPwjAUfudXNHvFszqcmBgxkYFmOtyiEC8vS9dWrJZW2zHBX28HRjD6oia+cJ56Oec7l+87\
UTrI9hG+1xOOZ4KoMdNqjKWsJrlQtiRS5kwYTMwkDwwf40IoTKXzazYR2JJ1aLMZBAjuppaDZJ2f\
IUnmS8kQXMktYHNFJoKCFOqRmy2sxAzbUhuOzTahUlUPO7PXdvD0XLGChXJ373UvCOfF/IXAWIqC\
Qsvf2YVWK8Tu5pBroOkMCDH0vh36VvuuTIpAI/1UCq2srxH0LrN+lEfZyB3Pe/3u6AQ5g7TlalIa\
hCqBalVxY13E8s1wy03FGbiODTB+JxSvk5XcEFkHf2DmSdYO0dIOrJ4ayg8b0T6Krq873oaM3Htv\
OO2eptmw431iwGs47blBHSdHJ5fu7ysbXiNdhmfDeBDf9p3Tr7lZZMvSi+FRN07i4c16wgVVXiOJ\
z882Zxv+JvTvdY4OdPHAaWkP0cpWjNdqSHobpP5/le9iuOmoXrO1HXsDPc70SQ==
exemd5=4d9dbbf25d6f8b15675f9ae370f5a326

403.gcc=base=linux_aarch64=default:
# Last updated Sun Jan 14 19:26:44 2024
optmd5=059db6b532a804b8f7e52cc1b632cc20
baggage=
compile_options=\
@eNrdU8FO4zAQvfcrrJyZeFtCkRBFatICgbSJIBWCS+TYphgcG+w0tHz9Oq0qQIgDuxKHzskezzzP\
vHkTpZPsCOEHXXG8FETNmVZzLGVTFULZmkhZMGEwMVXRNXyOS6EwlS4Owf3CcpBs8LNkyXwpGUJw\
I/eArRSpBAUp1BM3e1iJJba1NhybP4RK1TzuL9/63eeXhpUskAeHb4fdYFWuXgnMpSgp9Pz9A+j1\
AuxuDroFWiyBEEMf+oFvtd9FQBFopJ9roZX1NYLRdTaOiiibueN0NA5nZwhiH7mS0p4rS2kQqgaq\
VcONdUkbn+GWm4YzcF0bYPxeKN7+V3NDJNrYO3SRZP0Abe3Y6oWh/KQTHaEoGng7TLe37jENL9Is\
H3ifuPc6TmmOm9NkeHbt3r7OYR0RjqfRebENin2vk7aIWR5P4ruxc/3zlNbwWXqVD8M4ifPbjzWs\
B+Z1knh6udvr8H8y/0bhx7p85LS2Jy28rLbu99m3qkhGO678X9Spo3MyzM+LJA7bLZGVt2E4nbVb\
92Hl/gKARvGE
exemd5=46b61efc091fcf5c5872a672929b235a

471.omnetpp=base=linux_aarch64=default:
# Last updated Sun Jan 14 19:28:05 2024
optmd5=e2aad7dacae176f8cab043ba3fd0318f
baggage=
compile_options=\
@eNrlU11v0zAUfe+vsPLa3Xjpsk6a1klrWkYgayLWisFL5Nh3nYdjDzsN7X49TgtsE0gIkHipJUv+\
uD73+J57kvyqOCX0ztRI15LppTB6SZVq61Jq1zClSiEtZbYuI4tLWklNufJx/T4B14gR7/ejiMDt\
yiEoMfozJCVCpQSB9+oAxEazWnJQUn9Ce0C1XFPXGIvUHjKudHt/tH4cRg+fW1GJWB2fPJ5E8aba\
fGGwVLLiMAiPjmEwiKnfeeQOaLUGxiy/G8ahM6GnyQkYYh4aabQLDYHJdTFNyqRY+OVsMh0vLgmk\
oZ+m1th44lytBPq9x3QUdSstIQTygeesDUjdADe6Res84u7MokPbogBfEQsCb6XGjkyDlqnu8Y+c\
ZVYMY7IbZ86sLMfzXnJKkpubUbAnkgTfPpyP3+TFfBS8UCjo+d70hXqVXVxe+7uf1dpGjKez5HX5\
Peg38gW9fJewmKdX6cepf/HXam6zF/m7+cU4zdL5h+cUt+IGvSydvd0ff/2bNX7tDHJmqnvkjTsn\
T+OpR7r+ySZ75Jf/2r7b4uaLzpjPXPkVni8PHw==
exemd5=b7a8326586d9e5d4c627354cab6890d1

999.specrand=base=linux_aarch64=default:
# Last updated Sun Jan 14 19:28:41 2024
optmd5=cb7f2077e3ed3dc17ebe9a35d74c7167
baggage=
compile_options=\
@eNrdU11PwjAUfedXNHvmrgITEyIkMNBMJ1sUYvRl6doC1dJqOybw6+0wBo3xQU184Dz14370nnMa\
JldpB+GFXnK8FkTNmVZzLGW5zISyBZEyY8JgYpZZw/A5zoXCVLo4BLOV5SBZ92fJkvlSMoTgVtaB\
bRRZCgpSqEdu6liJNbaFNhybI0KlKh9a62278fRcspwF8vhke9IINvnmhcBcipxC028dQ7MZYLdz\
patCqzUQYuiiHfhW+w0EFIFG+qkQWllfIxjepKMwC9OpW46Ho8H0HDlA0nRvUhqEKoBqVXJjXcbb\
meGWm5IzcCMbYHwmFK+aFdwQid6wr5vFaTtA7zi1emUo79XCDgrDrnfAXHu7GZPBRZJOut4n4r2a\
s5nj5izun9+4u68ieLWkSk4n0VV0P3IhvxZk1ytNrif9QRRHk7uP7XbaeLU4Gl8etu3/5uhvzHyq\
8wdOC9tDe+w1rtSPhwfu8H806Y7OZFp9pQ//6BUKxeX0
exemd5=2d619f2f6991e1ccb9bb3b39b60a581f

482.sphinx3=base=linux_aarch64=default:
# Last updated Sun Jan 14 19:30:35 2024
optmd5=77ff89c070ea65c3b95e8b18dea28dfa
baggage=
compile_options=\
@eNrdU11P2zAUfe+vsPKMY1pCkRBFatLQekubaKSb4CVybFPMHJvZaWj59TipuoGmPTAkHuon+/re\
cz/OPVE6z84ButcVRxtB1IpptUJSNlUhlK2JlAUTBhFTFX3DV6gUClHp/AC8W1sOJRu9L1gyX0oG\
APwhjyDbKlIJCqVQP7k5QkpskK214cgcEypV83CyeR72H381rGSBPD17PusH23L7ROBKipLCgX9y\
CgeDALmXg26B1htIiKH3w8C32u8DSAHUQD/WQivrawAn11kcFVG2dNfFJA6XUwCx/9Y+G3+Piyhd\
XOFpMdt9Y5diXQsJ3IHpwDWgNBSqhlSrhhvr4Hc2wy03DWfQzcdAxu+E4m1lNTeki24BficrkmwY\
gP25sHptKL/sRecgikbeARPjdT2m4Zc0y0feG5a8nttJN5urZDy9dn9/M9Z5hPEimhV7p/dQ6PXS\
NneW4zm+jV3wf/PZFZKl3/JxiBOc37yutqPW6yV48fWwJfYxQfxDCxe6fOC0tpctvKz25j9b0u5P\
MjlwjXzinrpxzsf5rEhw2OpJVt5uwumy1ecrcb4A0mQJWQ==
exemd5=066742a56ff0e9a11c5af50d89843400

998.specrand=base=linux_aarch64=default:
# Last updated Sun Jan 14 19:30:41 2024
optmd5=0910d849a832aea80bac110bdf272c8b
baggage=
compile_options=\
@eNrdU11PwjAUfedXNHvmrgITEyIkMNBMJ1sUYvRl6doC1dJqOybw6+0wBo3xQU184Dz14370nnMa\
JldpB+GFXnK8FkTNmVZzLGW5zISyBZEyY8JgYpZZw/A5zoXCVLo4BLOV5SBZ92fJkvlSMoTgVtaB\
bRRZCgpSqEdu6liJNbaFNhybI0KlKh9a62278fRcspwF8vhke9IINvnmhcBcipxC028dQ7MZYLdz\
patCqzUQYuiiHfhW+w0EFIFG+qkQWllfIxjepKMwC9OpW46Ho8H0HDlA0nRvUhqEKoBqVXJjXcbb\
meGWm5IzcCMbYHwmFK+aFdwQid6wr5vFaTtA7zi1emUo79XCDgrDrnfAXHu7GZPBRZJOut4n4r2a\
s5nj5izun9+4u68ieLWkSk4n0VV0P3IhvxZk1ytNrif9QRRHk7uP7XbaeLU4Gl8etu3/5uhvzHyq\
8wdOC9tDe+w1rtSPhwfu8H806Y7OZFp9pQ//6BUKxeX0
exemd5=2d619f2f6991e1ccb9bb3b39b60a581f

401.bzip2=base=linux_aarch64=default:
# Last updated Thu May  9 19:03:59 2024
optmd5=876cbbb7e919e13fb5d76fa76913d97d
baggage=
compile_options=\
@eNrlU89PwjAUvvNXNDv7VpkTEwMmMNBMp1sUYvSydG3Bamm1LQj89XYQg8Z4kcQL79T2td9rvh9J\
fl2cIvykpxwvBFETptUEE0ejGIhxYkyow1T6RimUdUTKkgmDiZmWTcMnuBJq00YwnlkOknV2A5Ms\
lJIhBPfyANhSkamgIIV64eYAK7HA1mnDsTkkVKr589Fi1Wq+vs1ZxWJ5fLI6acbLavlOYCJFRSEK\
j44himLsdx66BpotgBBDn1pxaHXYREARaKRfndDKhhpB/64YJGVSjPzypj/ojS6QL8gj/yelQSgH\
VKs5N9a/2JwZbrmZcwaeAgOMj4Xi9TDHDZFoU1vcMitaMfqsttUzQ/lZIzlFSdIJ9liLYM1B3rvM\
i2En+CZM0PA29dydZ92LO9/7KVLQyOvHxTC9Th8H/sqfBVvPKvLbYbeXZunw4eu4tXZBI0tvrvY7\
Nrsl4pcwtHX1zKmzZ2hbWw/U7sj6e56QfzT5mu58VEfxSw4/AM3dEpM=
exemd5=21f4b859c657052463a236837f36a21e

429.mcf=base=linux_aarch64=default:
# Last updated Thu May  9 19:04:05 2024
optmd5=ef2c03aa6e04d40dacf0d21c72ab031b
baggage=
compile_options=\
@eNrlU8FO4zAQvfcrrJxxvA2hSIgiNU4Xsps2EU2F2Ivl2G4x69isnZaWr1+nFQsL2ssicemc7JnR\
e6N583AxKc8AujONQBtJ9ZIbvUS0ZVEMqW3lgrIWMeULRGrXUqUIlxZR25C+FUtUS70vA7hYOQEV\
H34MTPFQKQ4AvFFHkG81bSSDSuqfwh4hLTfItcYKZL9QpvT6/njzNOg//Frzmsfq5PTptB9v6+0j\
hUslawaj8PgERlGM/M9Dd0CrDaTUsrtBHDoT9gFkABpgHlpptAsNgOmsHGOCy7l/TtNxMr/006Q3\
o2lFZlWKSXldVIVPFZEfUhsodQuZ0WthnYfY56xwwq4Fh34nFnKxkFp07K2wVIF9vBCRvBzE4DnO\
nVlZJi56+AxgPAwOWJxgt4Mi+VaU1TD4S6mg5+/W7+5rPrqc+dp71XYdyXiKrwj+0/VGxqBXdARl\
lU2yH2Pf8N+i7tjK4roaJVmeVbevR9rpG/TybPr9sL32Mdf8wzDnpr4XrHUXHbxqntMvp9IdUZ4e\
uJE+8c79uiej6orkWdJ5TjXBXoFi3pn4lYN/A1eLJ3Q=
exemd5=f3957fb1d49fbc947a687a3f686fd768

433.milc=base=linux_aarch64=default:
# Last updated Thu May  9 19:04:10 2024
optmd5=bea9154bc9308fb393535421ed9dedeb
baggage=
compile_options=\
@eNrlU11vmzAUfc+vsHiu8UJpKlVNJb6asBFAgWzaXpCxndSdsTtD0qS/foYoaqdpL620l/jBH/da\
x9f3nBNki/wGoAfVMLTnWG6okhuEO+K4EOuOrzHpEBEmUXHZdliIinKNsG6qsWYbVHN5TAO43rYM\
Cjr9GJigthAUAPhNXEB6kLjhBAoufzJ9gSTfo7ZTmiH9CRMhd4+X+5fJ+OnXjtbUFVfXL9dj91Af\
njHcCF4T6NiXV9BxXGROBroH2u4hxpo8TFy7VfYYQAKgAuqp40q2tgIwLPIoqIJ8ZbZpGPmrGYCx\
bQ73aT95RWmWIEtnSy+sykVefY2CMlsWJhoWiVfMh2ASp18KYP6ROeYvUkEuO0iU3DHdmpeOMc1a\
pneMQtM6DSlbc8n6IjumsQDH8VpPleQTF5zGbau2mrC7UXADgmBqnTGH1tCDzP+c5eXU+oNQa2Tk\
bXp3n3izwuT+Jne44UdpMK9Ol97JtjXK+jLyMl7EPyKD827qh5rybFl6fpzE5fe3hQ8qsEb9i+dt\
3I956x+2ulX1IyNde9fDi+YUfhVUL7UkPHO7/Uedm3YvvHJuHOb31hSNdWQgW/VWf+Pz3w0pO7M=
exemd5=e61e740013cd662c11ad584afbf140b8

444.namd=base=linux_aarch64=default:
# Last updated Thu May  9 19:04:20 2024
optmd5=8e218ed7ce3c77f67e30a2ea0ec9ae33
baggage=
compile_options=\
@eNrtU01P4zAQvfdXWLmWiUkIRaooEk27KBBIBK2W3Uvk2G4xuDbYbmn763FaPrV7WqQ9dU62x/Nm\
NO+9tLgsuwjf6RnHS0HUlGk1xcTROAFinJgQ6jCVPlEJZR2RsmLCYGJmVWT4FNdCbdPtNgLrWI+2\
21GEYDK3HCTrfQ9ZslBKhuCn3AO2UmQmKEihHrjZw0ossXXacGz2CZVqcX+wXHeix6cFq1kiD4/W\
R1GyqlfPBKZS1BTi8OAQ4jjB/uaRG6D5Eggx9K6ThFaHfmyKQCP96IRWNtQIBjflMK3ScuyPV4Nh\
f3yGfEAR+5mUBqEcUK0W3FhfsX0z3HKz4Az8BgwwPhGKN80cN0Q2xe+YVV52ErSNY6vnhvKTVtpF\
6e1tL9hRsqEkeF1I0T8vylEv+MJQ0PLa9Yv8kZ+e3fjcn2wFrWJbXo6yy+z30H/6Z+423crienTa\
z/Js9Otzww2VQSvPri52bnpz0/eM8nefoGNd33Pq7An6iA9FNGrJBzv3vLvnv8p/s/xi3Nj0k0df\
APoCIOg=
exemd5=775203ad262fb71fa3328b37d5ab8bbf

445.gobmk=base=linux_aarch64=default:
# Last updated Thu May  9 19:04:35 2024
optmd5=d290856b3603bd392401e19166e84ada
baggage=
compile_options=\
@eNrlU99v2yAQfs9fgfxcTOO6qVQ1lWLHTbw5sdU6nbYXhIGkdBg6TLKkf/1wrP5S1Yet0l6CBLrj\
0MfdfffF+aw4B+hO1xxtBVErptUKEUuDEBJjxZJQi6h0ASxUY4mUmAmDiKlx3/AVqoTqwgAu1w2H\
kg0/ByaZLyUDAH6TR5DtFKkFhVKon9wcISW2qLHacGSOCZVqc3+yfRz0H35tWMVCeXr2eNYPd9Xu\
N4ErKSoKA//kFAZBiJznoFug9RYSYujdIPQb7fcBpABqoB+s0KrxNYDjmyKJcVwsnDkfJ9Fi4ozp\
6DbBcT6/Sid4CmDqt7s7kFBUrhlvnWfbFZAHrgiloVAWUq023DTui+7O8IabDWfQ9cxAxpdC8TY7\
yw2RoFsvieCsGITgaV00em0ov+zF5yCOh94Bk+fte5BHX/KiHHpvmPR6bq5d766y0eTGxd6zun8R\
JfN4ip8f/SXNXi9v/y/KdJb+SBzAP3O+T6bIr8tRlGZp+f11xnv6vV6Wzr8etlQ/J6oP9HShq3tO\
bXPZwsv66fplktoZy8YHrrP/OOeu3bNROcVZGrWalLXXMZAvWo2/Evgf3Is4oQ==
exemd5=756537c473b5f08f8362f853ab170c24

458.sjeng=base=linux_aarch64=default:
# Last updated Thu May  9 19:04:41 2024
optmd5=518775c1b59403478b3ac6316afc045f
baggage=
compile_options=\
@eNrlU89PwjAUvvNXNDv7VpkTEwMmMNBMp1sUYvSydG3Bamm1LQj89XYQg8Z4kcQL79T2td9rvh9J\
fl2cIvykpxwvBFETptUEE0ejGIhxYkyow1T6RimUdUTKkgmDiZmWTcMnuBJq00YwnlkOknV2A5Ms\
lJIhBPfyANhSkamgIIV64eYAK7HA1mnDsTkkVKr589Fi1Wq+vs1ZxWJ5fLI6acbLavlOYCJFRSEK\
j44himLsdx66BpotgBBDn1pxaHXYREARaKRfndDKhhpB/64YJGVSjPzypj/ojS6QL8gj/yelQSgH\
VKs5N9a/2JwZbrmZcwaeAgOMj4Xi9TDHDZFoU1vcMitaMfqsttUzQ/lZIzlFSdIJ9liLYM1B3rvM\
i2En+CZM0PA29dydZ92LO9/7KVLQyOvHxTC9Th8H/sqfBVvPKvLbYbeXZunw4eu4tXZBI0tvrvY7\
Nrsl4pcwtHX1zKmzZ2hbWw/U7sj6e56QfzT5mu58VEfxSw4/AM3dEpM=
exemd5=a1f6c0ffd43f1014b1e95783528ffac1

462.libquantum=base=linux_aarch64=default:
# Last updated Thu May  9 19:04:47 2024
optmd5=9d8858dd5694081c21e1f596627524f2
baggage=
compile_options=\
@eNrlk01P4zAQhu/9FVbOTLwNoUiIIrVpYbO0JFpS8XGJHNstBscG2+22/Pp1WhAghITgglRf7PGM\
Z6x550mycX6A8I2uOV4KomZMqxkmjkYxEOPElFCHqfSOUijriJQlEwYTU5dtw2e4EmrjRjCdWw6S\
db+XTLJQSoYQXMgdYCtFakFBCnXHzQ5WYomt04Zj84tQqRa3u8vHTvv+YcEqFsu9/cf9dryqVv8I\
zKSoKETh7h5EUYy95VM3ieZLIMTQm04cWh22EVAEGul7J7SyoUYwOM+HSZnkE388Gwz7kxPkF2SR\
/5PSIJQDqtWCG+tfbO4Mt9wsOAPfAgOMT4XiTTHHDZFos17ylqO8E7+x07PJ5VMYOrR6big/aiUH\
KEm6wRZrE6x7kPX/ZHnRDd4IFbT82PreHY96J+fe9160oJU1j/MiHafXQx/yZQHXtfLsb9Hrp6O0\
uHpdbq3l02c+imjUDVp+O91u0r4H0Sf5OdTVLafOHjXlZP1M1cvkNDM1Gmw5Vz8LDa/IuFf89ma/\
YVnWwUakbNJg/4r5/66DNVg=
exemd5=380d6eb5da08aab5a015fe4645fc5bd6

464.h264ref=base=linux_aarch64=default:
# Last updated Thu May  9 19:05:01 2024
optmd5=1e9dd883436a23cfd09585232b44a30f
baggage=
compile_options=\
@eNrlU8FO4zAQvfcrrJyZmIZQJESR2rRA2JREkArBJXJstxgcm7XdbsvXr9MKAUJcQOLSOdkznjfW\
vPeSfFIcI/ygG45Xgqg502qOiaNRDMQ4MSPUYSp9oRLKOiJlxYTBxDRV1/A5roXalhHMFpaDZP2f\
gUkWSskQglu5B2ytSCMoSKGeuNnDSqywddpwbPYJlWr5eLB66XWf/y5ZzWJ5ePRy1I3X9fofgbkU\
NYUoPDiEKIqxv3noFmixAkIMfejFodVhFwFFoJF+dkIrG2oEo5tinFRJMfXHq9F4OD1HPiCP/J+U\
BqEcUK2W3Fjfsc0ZbrlZcgZ+BQYYnwnF22GOGyLRNt5wq6zoxeg1TqxeGMpPO8kxSpJ+sMNcBJsd\
5MPLvCj7wQdigo6Xqd/dWTY4v/G1zyQFnbxtLsp0kt6P/ZNvE7aZVeTX5WCYZml5937chrugk6VX\
f3bbNj9zxBdmONH1I6fOnrbwsnlNv8mgFUg22nGT/KLO/bong/KiytJh6zrZBFsG8mlr0Hfu/A+o\
Lhh6
exemd5=554b748fbb903cdbc85ef498afc257c3

470.lbm=base=linux_aarch64=default:
# Last updated Thu May  9 19:05:06 2024
optmd5=d8b30c4d52a1d131c18d24c141435762
baggage=
compile_options=\
@eNrlU8FO4zAQvfcrrJyZmIZQJESR2rRA2JREkArBJXJstxgcm7XdbsvXr9MKAUJcQOLSOdkznjfW\
vPeSfFIcI/ygG45Xgqg502qOiaNRDMQ4MSPUYSp9oRLKOiJlxYTBxDRV1/A5roXalhHMFpaDZP2f\
gUkWSskQglu5B2ytSCMoSKGeuNnDSqywddpwbPYJlWr5eLB66XWf/y5ZzWJ5ePRy1I3X9fofgbkU\
NYUoPDiEKIqxv3noFmixAkIMfejFodVhFwFFoJF+dkIrG2oEo5tinFRJMfXHq9F4OD1HPiCP/J+U\
BqEcUK2W3Fjfsc0ZbrlZcgZ+BQYYnwnF22GOGyLRNt5wq6zoxeg1TqxeGMpPO8kxSpJ+sMNcBJsd\
5MPLvCj7wQdigo6Xqd/dWTY4v/G1zyQFnbxtLsp0kt6P/ZNvE7aZVeTX5WCYZml5937chrugk6VX\
f3bbNj9zxBdmONH1I6fOnrbwsnlNv8mgFUg22nGT/KLO/bong/KiytJh6zrZBFsG8mlr0Hfu/A+o\
Lhh6
exemd5=450ad6db276aed3877d3b3d466211494

473.astar=base=linux_aarch64=default:
# Last updated Thu May  9 19:05:11 2024
optmd5=4ca25cf2277f13957193b65f0a77cb47
baggage=
compile_options=\
@eNrtU01P4zAQvfdXWLkWxySEIiGK1KZZCBuSaEm17F4ix3aLWddmbbe0/Pp1Wj5asSeQONUne2b8\
3mjevLi4Lk8BulMzhpYcyylVcoqwJWEEsbZ8golFRLhEzaWxWIiaco2wntWBZlPUcLlJd7sAGkv7\
pNsNAgAnc8OgoP3PIQvqC0EB/CkOIF1JPOMECi7/MH2AJF8iY5VmSB9iIuTi/mj51Ase/i5oQyNx\
fPJ0EkSrZvWI4VTwhsDQPzqGYRgh93LILdB8CTHW5K4X+Ub5rm0CoALqwXIlja8AHN2USVzH5dhd\
81EyHF9sxeosraosqZN8lA5yAAAsQterVJBLC4mSC6aNQ9rENDNMLxiFbjIaUjbhkrVNWKaxaD9v\
4Za9CGzOmVFzTdh5Jz4F8e1t39tLtZbKex5IMbwqyqrv7SjnddxOu0F+ywYXNy73XsV1xTDJ48v6\
XdGurF6n2BCVVXqd/k5c5YdVXrOWxY9qMEwdya9dVie618nS/Pvejy9+/Jyl/u8ocKaae0asOQdv\
52132r3KRnufvfrsS9d/Pfxi3Bp6y83/AOJmM4U=
exemd5=6b1a1b928a7271e20734b0f267281de0

